/* section 1 -----------------------> */
.abcontainer{
    width: 100%;
    
}
.sec1{
    
    width: 95%;
    display: flex;
    gap: 40px;
    margin:auto;
    padding-top: 60px;

}

.text{
    width: 50%;
    
}
.text p{
    color: black;
    line-height: 150%;
    text-align: start;
    /* font-size:3vw; */
}
.text h1 {
    margin-top: -10px;
    font-size:3.5vw;
    font-weight: 770;
    text-align: start;
    line-height: 100%;
    text-shadow: 1px 1px 3px #645F5D ;
}

.text .span {
   
    color:#645F5D;
}
.span1{
    color:#645F5D;
    width: 95%;
    margin: auto;
}

.sec1 img{
    width: 50%;
    border-radius: 10px;
    height: 50vh;
}
/* sectin2-------------------------------->  */
.sec2{
    width: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    /* border-radius: 40px; */
    height: 100%;
    
}
.sec2 h1{
    padding-top: 60px;
    text-shadow: 1px 1px 3px #645F5D ;
}
.cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.card{
    width: 27vw;
    height: 36vh;
    background-color: black;
    border-radius: 20px;
    position: relative;
 
}
.card:before{
    content: '';
    display: block;
    position: absolute;
    height: 0%;
    width: 100%;
    bottom: 0;
    transition: height 0.5s ease-out;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
    border-radius: 20px;
}
.card:hover:before {
    height: 100%;
   
  }
.cards img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 50%)
}
.card p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 1.8vw;
    width: 80%;
    text-shadow: 1px 1px 3px #645F5D ;
    
}
.sec2 span{
    position: absolute;
    bottom: 0;
    left: 20px;
    color: #FFD700;
    font-size: 4vw;
}
@media (max-width:600px){
    .card1{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
    .card{
        width: 100% ;
        height: 200px;
    }
    .card p {
        font-size:x-large;
        bottom: 40px;
    }
    .sec2 span{
        font-size: 15vw;
    }
}

/* .logos{
    display: flex;
    justify-content:center;
    gap: 200px;
    padding-bottom: 90px;
}
.logos img{
    width: 160px;
    height: 130px;

    
}
logo-slider {
      div { 
          display: flex;
          position: relative;
          animation: marquee 30s linear infinite;
      
      
      
      }
          
      img {
          display: block;
          min-width: var(--image-size);
          height: var(--image-size);
          margin: 0 1vw;
      }
    
    &:after {
          content: "";
          position: absolute;
          width: 90%;
          height: 100%;
          left: 10;
          top: 0;
       
      }
    
    @media (max-width:900px) {
      --image-size: #{$min-image-size};
      --image-size: min(max(#{$min-image-size}, 10vw), #{$max-image-size});
      }
  
  }
  
  @keyframes marquee {
      0%   { transform: translateX(0%); }
      100% { transform: translateX(-100%); }
  } */