.ficontainer{
    
    width: 95%;
    margin:200px auto auto auto;
  
}
.ficontainer h1 {
    font-size:6vh ;
}
.cardp{
    width: 27vw;
    height: 28vh;
    background-color: white;
    border-radius: 20px;
    position: relative;
}
.ficontainer h2 {
    font-size:5vh;
    text-align: center;
}
.cardp img {
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 3rem;
    width: 3rem;
}