
.slider{
    width: 90%;
    height: 50vh;
    margin: auto;
    background-color: white;
}
.slider img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.slider div p {
    color:black;
}